#all {
    background: red;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%
}
body {
    font-family: Arial;
    margin: 0;
    padding: 0px;
    height: 100%;
    font-size: 12px
}

#leftbar {
    width: 100px;
    background: #ffffff;
    height: 100%;
    width: 365px;

    float: left
}

#mapka {

    height: 100%;
    background: gray;
    margin: 0px     ;
    float: left;
    bottom: 0;
    margin-left: 365px;
    position: absolute;
    width:90%;
}


#mapka {
    float: left;
}

input {
    margin: 5px
}

h3 {
    margin: 3px;
    padding: 3px
}

/*

  box do ustawień wyszukiwania trasy

*/
#settings {


    background-image: url('../images/box_bg.gif');
    padding: 5px;
    margin: 5px ;
}


/* Rozkład linii */
#rozklad-linia {


    background-image: url('../images/box_bg.gif');
    padding: 10px;
    margin: 5px;
}


/* Monitoruj linię */
#monitorujLinie {

    background-image: url('../images/box_bg.gif');
    padding: 5px;
    margin: 5px
}

/* APLIKACJA MOBILNA */

#mobileapp {
    background-image: url('../images/box_bg.gif');
    padding: 5px;
    margin: 5px ;
}
#ac {
    height: 500px;
}
#ac .ui-accordion-content {
    border: none;
    color: #616161;
    height: 185px;
}

#ac h3 {
    color: white;
}
#ac h3:hover {
    color: #ddf0f8;
}
#ac .ui-accordion-header:first-of-type   {
    background: #ffffff;
    border-radius: 0px;
    background-image: url('../images/planowanie_podrozy.jpg');
    font-size: 17px;
    border: none;
}
#ac .ui-accordion-header a   {
   color: red;
}
#ac .ui-accordion-header.ui-state-active:first-of-type{
    background-image: url('../images/planowanie_podrozy_active.png')
}


#ac .ui-accordion-header:nth-of-type(2)   {
    background: #ffffff;
    border-radius: 0px;
    background-image: url('../images/monitorowanie_linii.jpg');
    font-size: 17px;
    border: none;
}
#ac .ui-accordion-header:nth-of-type(2) a:hover   {
    color: red;
}
#ac .ui-accordion-header.ui-state-active:nth-of-type(2){
    background-image: url('../images/monitorowanie_linii_active.png')
}

#ac .ui-accordion-header:nth-of-type(3)   {
    background: #ffffff;
    border-radius: 0px;
    background-image: url('../images/aplikacja.jpg');
    font-size: 17px;
    border: none;
}
#ac .ui-accordion-header:nth-of-type(3) a:hover{
    color: red;
}
#ac .ui-accordion-header.ui-state-active:nth-of-type(3){
    background-image: url('../images/aplikacja_active.png')
}

#ac .ui-accordion-header:nth-of-type(4)   {
    background: #ffffff;
    border-radius: 0px;
    background-image: url('../images/info.jpg');
    font-size: 17px;
    border: none;
}
#ac .ui-accordion-header:nth-of-type(4) a:hover{
    color: red;
}
#ac .ui-accordion-header.ui-state-active:nth-of-type(4){
    background-image: url('../images/info_active.png')
}

#pokazMonitorowanaLinie {
    border: none;
    color: white;
    background: none;
    text-align: left;
    padding: 0px 10px;
    width: 107px;
    height: 30px;
    background-image: url('../images/pokaz.png');
    float: left;
    margin-top: 10px;
}

#pokazMonitorowanaLinie:hover {
    border: none;
    background: none;
    background-image: url('../images/pokaz.png');
    color: silver;
}

#search  {
    border: none;
    color: white;
    background: none;
    text-align: left;
    padding: 0px 10px;
    width: 107px;
    height: 30px;
    background-image: url('../images/szukaj.png');
}
#search:hover {
    border: none;
    background: none;
    background-image: url('../images/szukaj.png');
    color: silver;
}

#mobileDownload  {
    border: none;
    color: white;
    background: none;
    text-align: left;
    padding: 0px 10px;
    width: 107px;
    height: 30px;
    background-image: url('../images/pokaz.png');
}

#logo {
    padding: 3px;

    text-align: center;
}
#propozycje {
    position: absolute;
    background: gray;
}

#informacjeObledzie {
    color: red;
    font-weight: bold;
}

#from, #to, #datepicker, #timepicker, #monitorowanaLinia, #linia {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
}
#info
{
    background-image: url('../images/box_bg.gif');
}

#label1 {

}

p {
    margin: 3px;
}