#all { background: red; margin: 0px; padding: 0px; width: 100%; height: 100%
}
body { font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: gray 0.1em 0.1em 0.1em;

    margin: 0;
    padding: 0px;
    height: 100%;
    width : 100%
}

#leftbar { width: 100%; background: #99ccff; height: 60%;  float: left }
#mapka { width: 100%; height: 40%;  background: gray; margin: 0px }


#mapka { float: left; }
input { margin: 5px }

h3 {
    margin: 3px;
    padding: 3px
}

#rozklad-linia {
    border: 1px solid gray;
    border-radius: 10px;
    background: wheat;
    padding: 10px;
    margin: 5px;
    color: #990000;
    box-shadow: gray 0.1em 0.1em 0.1em
}

#tab-linia {
    border: 1px solid gray;
    border-radius: 10px;
    background: #FFFFCC;
    padding: 5px;
    margin: 5px;
    box-shadow: black 0.1em 0.1em 0.1em
}
#tab-linia table { font-size: 12px }

#settings {
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    padding: 5px;
    margin: 5px ;
    box-shadow: black 0.1em 0.1em 0.1em
}
#logo {
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 6%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    color: white;
    padding: 5px;
    margin: 5px
}
#propozycje {
    position: absolute;
    background: gray; }

#monitorujLinie {
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(200,228,247,1) 0%,rgba(115,177,231,1) 6%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    color: white;
    padding: 5px;
    margin: 5px

}