html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}


/* TRASA PAGE STYLES */

#trasaPage #wybierzPrzystankiGrid.ui-grid-a .ui-block-a 
{ 
	width: 70%;
	
}

#trasaPage #wybierzPrzystankiGrid.ui-grid-a .ui-block-b 
{ 
	width: 15%; 
} 

#trasaPage #wybierzPrzystankiGrid.ui-grid-a .ui-block-c 
{ 
	width: 15%; 
} 

#trasaPage #wybierzPrzystankiGrid .ui-block-b  .ui-btn-inner
 {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

#trasaPage #wybierzPrzystankiGrid .ui-block-c  .ui-btn-inner {
	
	padding-bottom: 57px;
}

#trasaPage #wybierzPrzystankiGrid .ui-block-b  .ui-controlgroup,
#trasaPage #wybierzPrzystankiGrid .ui-block-c  .ui-controlgroup {
	margin-top: 16px;
}

/* #trasaPage .buttons {
	text-align: left;
}

#trasaPage .buttons-no-padding {
	text-align: center;
	vertical-align: middle;
}

#trasaPage .buttons-no-padding .ui-btn-inner {
	padding-left: 0px;
	padding-right: 0px;
} */


#wyszukajButton {
	height: 50px;
}

#wyszukajButton .ui-btn-inner {
	padding-top: 15px;
	font-size: large;
}

/* USTAW CZAS DIALOG PAGE STYLES */

#ustawCzasGrid .ui-block-a {
	width: 30%;
}

#ustawCzasGrid .ui-block-b {
	width: 70%;
}

#ustawCzasGrid label.ui-input-text,
#ustawCzasGrid label.ui-slider
{
	margin-top: 14px;
}

/* USTAW OPCJE DIALOG PAGE STYLES */

#ustawOpcjeGrid .ui-block-a {
	width: 30%;
}

#ustawOpcjeGrid .ui-block-b {
	width: 70%;
}

#ustawOpcjeGrid label.ui-input-text,
#ustawOpcjeGrid label.ui-slider
{
	margin-top: 14px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-startmarker {
		background-image: url("../img/source48.png");
		background-size: 18px 18px;
	}
	
	.ui-icon-endmarker {
		background-image: url("../img/target48.png");
		background-size: 18px 18px;
	}
}

.contentMargins {
    padding: 0;
    position : absolute !important; 
    top : 40px !important;  
    right : 0; 
    bottom : 0 !important;  
    left : 0 !important;     
}