html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#map {
	height: 100%;
	width: 100%;
	
	z-index: 1
}

#pobieranie {
	z-index: 2;
	
	position: fixed;
	top: 45%;
	right: 45%;
	
	
}